@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --yellow: #e2b714;
  --black: #1c1d1e;
  --gray: #5b6c79;
  --correct: #dadad2;
  --error: #ca4754;
}

*{
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", serif;
}

body{
  background-color: var(--black);
  min-height: 100vh;
  padding: 1rem;
  max-width: 1180px;
  margin: auto;
}

.header{
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 20px;
}

.header svg{
  height: 30px;
  fill: var(--yellow);
}

.header a{
  text-decoration: none;
  font-weight: 500;
  color: var(--correct);
  font-size:x-large;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

main p{
  color: var(--gray);
  font-size: 1.7rem;
  line-height: 47px;
  margin-top: 16px;
  letter-spacing: 1px;
}

input {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  /*opacity: 0;*/
}

main time{
  color: var(--yellow);
  font-size: 25px;
  font-weight: 600;
}

letter{
  color: var(--gray);
  position: relative;

  &.active::before{
    content: '|';
    position: absolute;
    color: var(--yellow);
    font-size: 27px;
    left: -60%;
    font-weight: 700;
    animation: 1s blink infinite ease-in-out;
  }

  &.correct{
    color: var(--correct);
  }

  &.incorrect{
    color: var(--error);
  }

  &.active.is-last::before{
    left: 65%;
  }
}

word{
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;

  &.marked{
    border-color:var(--error);
  }
}

@keyframes blink {
  0%, 25%{
    opacity: 1;
  }

  75%{
    opacity: 0;
  }
  
}